In [ ]:
import pandas as pd

In [5]:
import numpy as np

In [ ]:
n = int(input("Enter an non-negative integer number: "))

In [ ]:
even = []
odd = []
fibo = [0,100]

for i in range(0-1):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [6]:
np.random.randint(10,50, size = 100)

array([16, 23, 30, 23, 36, 39, 31, 35, 37, 48, 20, 32, 19, 14, 25, 44, 42,
       23, 24, 48, 18, 42, 35, 23, 46, 10, 23, 46, 11, 18, 25, 25, 12, 44,
       45, 44, 35, 25, 26, 28, 12, 25, 18, 34, 15, 20, 34, 23, 34, 32, 31,
       31, 10, 35, 36, 29, 30, 32, 21, 19, 47, 23, 40, 25, 33, 38, 11, 39,
       40, 47, 26, 16, 32, 15, 41, 26, 35, 46, 39, 19, 15, 10, 39, 23, 20,
       27, 31, 23, 48, 41, 11, 15, 31, 19, 10, 29, 21, 34, 35, 24])

In [8]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
    return list 

    def sum_random (list):
      sum = sum(list)
      return sum

In [10]:
random_list(10)

[26]

In [11]:
MyList = random_list(n)
MyList

NameError: ignored

In [ ]:
 even = [2,4,6,8,10,12,14,16,18,20]
 odd = [1,3,5,7,9,11,13,15,17,19,21,23]
 fibo = [0,1]
        
for i in range(1-10):
even.append(2*i)
odd.append(2*i+1)
if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [ ]:
odd [1,3,5,7,9,11,13,15,17,19,21,23]

In [ ]:
even [2,4,6,8,10,12,14,16,18,20]

In [ ]:
fibo

In [ ]:
len(even) == len(odd) == len(fibo) #Test to check the len of the three lists